# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Tools
tools/

# OS files
.DS_Store

# Tests
*test*

# Env vars
.env